【测试】XGBG-飞鸭记账 - 文字账单提取【V1-20260522】.yml
app:
  description: 待切到线上，统一单笔/多笔文字账单提取（时间预处理+JSON数组输出）
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 【测试】XGBG-飞鸭记账-文字账单提取【V1-20260522】
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.37@223919aad8f236c511b32b1954905b5ddf935e109dc25881441552c31fbc4bac
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/volcengine_maas:0.0.47@076f77586886206168879517e754a3ec1e208c02ba2743f8872ad11d67c51d4f
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 100
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1762159084543-source-1762159229951-target
      source: '1762159084543'
      sourceHandle: source
      target: '1762159229951'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765953741405-false-17665425300920-target
      source: '1765953741405'
      sourceHandle: 'false'
      target: '17665425300920'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17665425300920-source-1779205180002-target
      source: '17665425300920'
      sourceHandle: source
      target: '1779205180002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1779205180002-source-1766542536411-target
      source: '1779205180002'
      sourceHandle: source
      target: '1766542536411'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1762159229951-source-1771913498969-target
      source: '1762159229951'
      sourceHandle: source
      target: '1771913498969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1771913498969-source-1765953741405-target
      source: '1771913498969'
      sourceHandle: source
      target: '1765953741405'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765953741405-true-1779160950882-target
      source: '1765953741405'
      sourceHandle: 'true'
      target: '1779160950882'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779160950882-source-1779205180001-target
      source: '1779160950882'
      sourceHandle: source
      target: '1779205180001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1779205180001-source-1773113492659-target
      source: '1779205180001'
      sourceHandle: source
      target: '1773113492659'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: user_query
          max_length: 5000
          options: []
          required: true
          type: paragraph
          variable: user_query
        - label: classify
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: classify
        - label: check
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: check
        - default: ''
          hint: ''
          label: valid_check
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: valid_check
        - default: ''
          hint: ''
          label: backup
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: backup
      height: 212
      id: '1762159084543'
      position:
        x: 74.78346945265415
        y: -2
      positionAbsolute:
        x: 74.78346945265415
        y: -2
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        default_value:
        - key: text
          type: string
          value: 时间
        - key: json
          type: array[object]
          value: '[]'
        desc: ''
        error_strategy: default-value
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: '%Y-%m-%d %H:%M:%S'
          form: form
          human_description:
            en_US: Time format in strftime standard.
            ja_JP: Time format in strftime standard.
            pt_BR: Time format in strftime standard.
            zh_Hans: strftime 标准的时间格式。
          label:
            en_US: Format
            ja_JP: Format
            pt_BR: Format
            zh_Hans: 格式
          llm_description: null
          max: null
          min: null
          name: format
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: UTC
          form: form
          human_description:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          label:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          llm_description: null
          max: null
          min: null
          name: timezone
          options:
          - icon: null
            label:
              en_US: UTC
              ja_JP: UTC
              pt_BR: UTC
              zh_Hans: UTC
            value: UTC
          - icon: null
            label:
              en_US: America/New_York
              ja_JP: America/New_York
              pt_BR: America/New_York
              zh_Hans: 美洲/纽约
            value: America/New_York
          - icon: null
            label:
              en_US: America/Los_Angeles
              ja_JP: America/Los_Angeles
              pt_BR: America/Los_Angeles
              zh_Hans: 美洲/洛杉矶
            value: America/Los_Angeles
          - icon: null
            label:
              en_US: America/Chicago
              ja_JP: America/Chicago
              pt_BR: America/Chicago
              zh_Hans: 美洲/芝加哥
            value: America/Chicago
          - icon: null
            label:
              en_US: America/Sao_Paulo
              ja_JP: America/Sao_Paulo
              pt_BR: América/São Paulo
              zh_Hans: 美洲/圣保罗
            value: America/Sao_Paulo
          - icon: null
            label:
              en_US: Asia/Shanghai
              ja_JP: Asia/Shanghai
              pt_BR: Asia/Shanghai
              zh_Hans: 亚洲/上海
            value: Asia/Shanghai
          - icon: null
            label:
              en_US: Asia/Ho_Chi_Minh
              ja_JP: Asia/Ho_Chi_Minh
              pt_BR: Ásia/Ho Chi Minh
              zh_Hans: 亚洲/胡志明市
            value: Asia/Ho_Chi_Minh
          - icon: null
            label:
              en_US: Asia/Tokyo
              ja_JP: Asia/Tokyo
              pt_BR: Asia/Tokyo
              zh_Hans: 亚洲/东京
            value: Asia/Tokyo
          - icon: null
            label:
              en_US: Asia/Dubai
              ja_JP: Asia/Dubai
              pt_BR: Asia/Dubai
              zh_Hans: 亚洲/迪拜
            value: Asia/Dubai
          - icon: null
            label:
              en_US: Asia/Kolkata
              ja_JP: Asia/Kolkata
              pt_BR: Asia/Kolkata
              zh_Hans: 亚洲/加尔各答
            value: Asia/Kolkata
          - icon: null
            label:
              en_US: Asia/Seoul
              ja_JP: Asia/Seoul
              pt_BR: Asia/Seoul
              zh_Hans: 亚洲/首尔
            value: Asia/Seoul
          - icon: null
            label:
              en_US: Asia/Singapore
              ja_JP: Asia/Singapore
              pt_BR: Asia/Singapore
              zh_Hans: 亚洲/新加坡
            value: Asia/Singapore
          - icon: null
            label:
              en_US: Europe/London
              ja_JP: Europe/London
              pt_BR: Europe/London
              zh_Hans: 欧洲/伦敦
            value: Europe/London
          - icon: null
            label:
              en_US: Europe/Berlin
              ja_JP: Europe/Berlin
              pt_BR: Europe/Berlin
              zh_Hans: 欧洲/柏林
            value: Europe/Berlin
          - icon: null
            label:
              en_US: Europe/Moscow
              ja_JP: Europe/Moscow
              pt_BR: Europe/Moscow
              zh_Hans: 欧洲/莫斯科
            value: Europe/Moscow
          - icon: null
            label:
              en_US: Australia/Sydney
              ja_JP: Australia/Sydney
              pt_BR: Australia/Sydney
              zh_Hans: 澳大利亚/悉尼
            value: Australia/Sydney
          - icon: null
            label:
              en_US: Pacific/Auckland
              ja_JP: Pacific/Auckland
              pt_BR: Pacific/Auckland
              zh_Hans: 太平洋/奥克兰
            value: Pacific/Auckland
          - icon: null
            label:
              en_US: Africa/Cairo
              ja_JP: Africa/Cairo
              pt_BR: Africa/Cairo
              zh_Hans: 非洲/开罗
            value: Africa/Cairo
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          format: ''
          timezone: ''
        provider_id: time
        provider_name: time
        provider_type: builtin
        selected: false
        title: 获取当前时间
        tool_configurations:
          format:
            type: mixed
            value: '%Y-%m-%d'
          timezone:
            type: constant
            value: Asia/Shanghai
        tool_description: 一个用于获取当前时间的工具。
        tool_label: 获取当前时间
        tool_name: current_time
        tool_node_version: '2'
        tool_parameters: {}
        type: tool
      height: 149
      id: '1762159229951'
      position:
        x: 342
        y: 19
      positionAbsolute:
        x: 342
        y: 19
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 1e426121-9c7e-4b54-801e-b3b23c4111f3
            value: ''
            varType: string
            variable_selector:
            - '1762159084543'
            - backup
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 123
      id: '1765953741405'
      position:
        x: 880.7366104143325
        y: 19
      positionAbsolute:
        x: 880.7366104143325
        y: 19
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 2048
            temperature: 0
          mode: chat
          name: qwen3.6-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 465f110b-e3a0-4436-9916-2f497bb92b44
          role: system
          text: "你是一个专业的财务账单数据提取专家。从口语化记账描述中提取账单，输出标准 JSON 数组（单笔也输出单元素数组）。\n\n****\n\
            用户输入：{{#1771913498969.result#}}\n当前时间：{{#1762159229951.text#}}\n可选账单分类（含一二级）：{{#1762159084543.classify#}}\n\
            合法交易渠道白名单（valid_check）：{{#1762159084543.valid_check#}}\n默认交易渠道（check）：{{#1762159084543.check#}}\n\
            ****\n\n【语义】\"31晚饭\"=晚饭支出31元；\"31.08买东西\"=消费31.08元；纯数字X优先认定为支出。\n【时间】未提及则用当前时间的日期；有具体日期按描述；相对词（昨天/前天/刚刚等）按当前时间推算。输入中部分相对时间已由系统预转为\"\
            YYYY年MM月DD日\"，请优先采用。最终格式：YYYY年MM月DD日。\n- 单独「X号/X日」（无月份，如「2号车载纸巾盒101.35」）已由系统预转为记账当月对应日期，请优先采用；后部数字仍为金额。\n\
            - 数字与日期歧义：若 query 中仅有**一个**独立数字（含小数如 6.4、5.14、13.9），该数字**只能作为金额**，时间用当前日期，**禁止**同时解析为「月.日」或「M月D日」；不论数字在事项前或后均适用（如「6.4打车」「打车6.4」「31晚饭」「5.14尿不湿」）。\n\
            - 仅当出现明确日期词（月/日/号/年月日）、系统预转绝对日期，或 query 含**两个及以上**独立数字（日期+金额）时，才将前一数字作为日期，如\"\
            6.7车费1.8\"、\"6.4追星卡片182.4\"。\n【分类】\n- 优先级最高==>\n1）如果输入中有明确的字样，比如输入中的用词和某个二级分类完全一致，可以直接匹配到某条账单二级分类，比如输入query\"\
            奶茶20\"，classify:[外卖：{奶茶}]，那么直接确定该笔账单的二级分类，以及对应的一级分类。\n2）如果无法直接匹配到某账单二级分类，再按照下列顺序，先确定一级分类，再确定二级分类。\n\
            - 账单分类：必须且只能从「可选账单分类」中的一级名称选取一项，输出名称须与列表原文完全一致；**优先匹配用户自定义/列表专属一级**，禁止擅自归并为餐饮/交通/其他等「更常见」标准类；禁止无/未知/自创列表外名称；仅当列表内无专属项时，选列表中最接近的标准类（陪玩→其他）。\n\
            - 账单二级分类：若该一级在花括号内配置了二级选项（非 null），判断输入语义是否适合分类到某个二级列表，如果适合，选对应的二级分类，如果没有适合的选项，直接填null，再或者无二级列表配置，账单二级分类填\
            \ null。\n- 示例：走亲戚100元 → 账单分类「人情社交」，账单二级分类「亲戚」；仅「午饭30」→ 账单分类「餐饮」，账单二级分类\
            \ null。\n\n【分类决策流程】classify 列表是唯一合法来源\n\n第一步 — 解析列表：从「可选账单分类」提取全部一级名称（冒号前的词）。其中含用户自定义类（如「话费充值」「游戏提现」「收转账」「饮料」「零食」「妈妈报销」等），与标准类地位相同。\n\
            \n第二步 — 用户自定义/列表专属一级（最高优先级，禁止归并）：\n- 先在列表中查找语义匹配的专属一级；若存在，**必须**输出该一级的**列表原文**，禁止替换为其他类，**不得**因常识改填到一些范围更广的标准类。\n\
            - 列表中存在时的常见映射（以列表原文为准，两项都在列表时选更贴切者）：\n  · 话费/流量/充话费 → 「话费充值」或「网络虚拟」\n\
            \  · 快手/抖音/视频/游戏/短剧 + 提现 → 「游戏提现」\n\n第三步 — 列表内标准一级（仅第二步无专属匹配时，且须为列表中已有名称）：\n\
            - 加油/油费/停车费/汽车充电 → 「爱车」（列表有）；电动车充电/邮费/快递/打印资料 → 「生活服务」\n- 衣服/鞋/包/表 → 「购物」；美甲/化妆品/美容护理\
            \ → 「穿搭美容」\n- 婴幼儿用品/尿不湿 → 「养娃」；宠物用品/宠物药 → 「宠物」\n\n第四步 — 禁止：输出列表外名称；用常识覆盖列表专属一级；将用户自定义类「标准化」为餐饮/交通/其他。\n\
            \n【渠道】\n- 合法交易渠道白名单见「valid_check」；默认渠道见「check」。\n- 用户输入中明确提及且属于白名单的渠道\
            \ → 交易渠道填该渠道名（与白名单一致）。\n- 用户未提及渠道，或提及的渠道不在白名单 → 交易渠道填「check」；若 check 为空则填「无」。\n\
            【类型】收入或支出，默认支出，需要根据语义去判定是否是收入，如果是收入，往往是退款类原因或者明确的入账，工资等，比如\"12块钱的午饭，因为没有饭了，所以被退回来了\"\
            、\"淘宝退货退款\"，或者描述了退款相关，但是语义其实是还没退，或者还没到账，那么也是支出。\n【金额】纯数字（可两位小数）。系统预处理可能已将连加金额折叠为单个数字（如「买吃的269.4」「高铁66」），直接采用该数字作为金额，勿再拆分或重算。\n\
            - 连加求和（单笔）：同一事项/消费描述后，用 + 连续拼接的多个金额（如「买吃的29.9+39.9+49.9」「高铁33+33」）表示一笔账总支出，须输出单个求和金额，禁止拆成多条\
            \ JSON。\n- 与多笔区分：仅当逗号、顿号、空格分隔不同事项（如「美甲4.5，买菜2.8」「花呗5打车20」）时拆多笔；「A+B+C」连加不是多笔。\n\
            - 与日期区分：绝对日期（含系统预转的「YYYY年MM月DD日」）之后的数字段，若曾含 + 连接则已折叠为总金额，不得再解析为日期+金额；**仅当存在第二个独立金额数字时**，如「6.4追星卡片182.4」中\
            \ 6.4 为日期、182.4 为金额；单数字输入禁止套用此规则。\n- 若输入仍含未折叠的 +-*/ 段，须先求值：吃饭20+50+3→73；上网20-6→14。禁止留空。\n\
            【事项】具体消费名，不明确简写如\"消费\"。\n【多笔】逗号、顿号、空格或并列描述（如\"美甲X元，买菜Y元\"、\"花呗5打车20\"\
            ）拆成多条，每条字段齐全。禁止将同一事项后的连加金额（如29.9+39.9+49.9，或已折叠的269.4、66）拆成多笔。\n\n【输出要求】只输出合法\
            \ JSON 数组，无 markdown、无解释；键名：时间、账单分类、账单二级分类、交易渠道、类型、金额、事项；英文双引号与半角标点。\n\
            \n示例-单笔（交通）：八月三十一号打车七点五元 → [{\"时间\":\"2025年08月31日\",\"账单分类\":\"交通\",\"\
            账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":7.5,\"事项\":\"打车\"}]\n\
            示例-用户自定义（饮料，禁止改餐饮）：列表含「饮料」时，饮料3元 → [{\"时间\":\"...\",\"账单分类\":\"饮料\",\"\
            账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":3,\"事项\":\"饮料\"}]\n\
            示例-连加求和：2025年06月23日买吃的269.4 → [{\"时间\":\"2025年06月23日\",\"账单分类\":\"餐饮\"\
            ,\"账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":269.4,\"事项\":\"买吃的\"\
            }]\n示例-往返合并：高铁66 → [{\"时间\":\"...\",\"账单分类\":\"交通\",\"账单二级分类\":null,\"\
            交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":66,\"事项\":\"高铁\"}]\n示例-单数字仅金额：6.4打车\
            \ → [{\"时间\":\"...\",\"账单分类\":\"交通\",\"账单二级分类\":null,\"交易渠道\":\"无\",\"\
            类型\":\"支出\",\"金额\":6.4,\"事项\":\"打车\"}]\n示例-日期加金额：6.6咖啡15.4→ [ {\"时间\"\
            : \"2026年06月06日\", \"账单分类\": \"餐饮\", \"账单二级分类\": null, \"交易渠道\": \"无\"\
            , \"类型\": \"支出\", \"金额\": 15.4, \"事项\": \"咖啡\"}]\n示例-二级分类：走亲戚100元 → [{\"\
            时间\":\"...\",\"账单分类\":\"人情社交\",\"账单二级分类\":\"亲戚\",\"交易渠道\":\"无\",\"类型\"\
            :\"支出\",\"金额\":100,\"事项\":\"走亲戚\"}]\n示例-二级分类-无匹配项：外卖100元 classify: \"\
            [工资:{null}，兼职:{null}，投资理财，人情社交:{职场，亲戚，借用，回礼}，外卖：{汉堡}]\"→ [{\"时间\": \"\
            ...\", \"账单分类\": \"外卖\", \"账单二级分类\": \"null\", \"交易渠道\": \"无\", \"类型\"\
            : \"支出\", \"金额\": 100.0, \"事项\": \"外卖\"}]\n示例-输入直接匹配到二级分类：西瓜20元 classify:\
            \ \"[\"餐饮\": {西瓜,甜品,烧烤},\"水果零食\": {null}]\"→ [{\"时间\": \"...\", \"账单分类\"\
            : \"餐饮\", \"账单二级分类\": \"西瓜\", \"交易渠道\": \"无\", \"类型\": \"支出\", \"金额\"\
            : 20.0, \"事项\": \"西瓜\"}]\n示例-输入直接匹配到多个二级分类，直接匹配classify中顺序靠前的那个一级+二级分类：外卖20，classify:[餐饮：{11}，生活日用：{外卖}，休闲娱乐：{外卖}]，→\
            \ [{\"时间\": \"...\", \"账单分类\": \"生活日用\", \"账单二级分类\": \"外卖\", \"交易渠道\"\
            : \"无\", \"类型\": \"支出\", \"金额\": 20.0, \"事项\": \"外卖\"}]\n示例-多笔：美甲四点五元，晚上买菜2.8元\
            \ → [{\"时间\":\"...\",\"账单分类\":\"穿搭美容\",\"账单二级分类\":null,\"交易渠道\":\"无\"\
            ,\"类型\":\"支出\",\"金额\":4.5,\"事项\":\"美甲\"},{\"时间\":\"...\",\"账单分类\":\"买菜\"\
            ,\"账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":2.8,\"事项\":\"蔬菜\"\
            }]\n示例-多笔：花呗5打车20 前天打车30 今天晚上吃饭35→ [{\"时间\": \"2026年06月15日\", \"账单分类\"\
            : \"还款\", \"账单二级分类\": null, \"交易渠道\": \"无\", \"类型\": \"支出\", \"金额\": 5.0,\
            \ \"事项\": \"花呗\"}, {\"时间\": \"2026年06月15日\", \"账单分类\": \"交通\", \"账单二级分类\"\
            : null, \"交易渠道\": \"无\", \"类型\": \"支出\", \"金额\": 20.0, \"事项\": \"打车\"\
            }, {\"时间\": \"2026年06月13日\", \"账单分类\": \"交通\", \"账单二级分类\": null, \"交易渠道\"\
            : \"无\", \"类型\": \"支出\", \"金额\": 30.0, \"事项\": \"打车\"}, {\"时间\": \"2026年06月15日\"\
            , \"账单分类\": \"餐饮\", \"账单二级分类\": null, \"交易渠道\": \"无\", \"类型\": \"支出\"\
            , \"金额\": 35.0, \"事项\": \"吃饭\"}]\n示例-收入：+30 → [{\"时间\":\"...\",\"账单分类\"\
            :\"其他\",\"账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"收入\",\"金额\":30,\"事项\"\
            :\"收入\"}]\n注意：陪玩→其他"
        - id: 14597422-4398-470a-a876-1afb0e1c4c9e
          role: user
          text: 用户输入为:{{#1771913498969.result#}}
        selected: false
        structured_output_enabled: false
        title: 备选模型
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '17665425300920'
      position:
        x: 1144.4649863831455
        y: 139.81748406649382
      positionAbsolute:
        x: 1144.4649863831455
        y: 139.81748406649382
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779205180002'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 3
        type: end
      height: 88
      id: '1766542536411'
      position:
        x: 1689.6074880757533
        y: 139.81748406649382
      positionAbsolute:
        x: 1689.6074880757533
        y: 139.81748406649382
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport calendar\nimport re\nfrom datetime import datetime, timedelta\n\
          from decimal import Decimal, ROUND_HALF_UP\nfrom typing import Optional\n\
          \n\ndef _fmt(d: datetime) -> str:\n    return f\"{d.year}年{d.month:02d}月{d.day:02d}日\"\
          \n\n\ndef _shift_month(base: datetime, month_delta: int, day: int) -> Optional[datetime]:\n\
          \    y, m = base.year, base.month + month_delta\n    while m < 1:\n    \
          \    m += 12\n        y -= 1\n    while m > 12:\n        m -= 12\n     \
          \   y += 1\n    max_day = calendar.monthrange(y, m)[1]\n    try:\n     \
          \   return base.replace(year=y, month=m, day=min(day, max_day))\n    except\
          \ ValueError:\n        return None\n\n\ndef convert_relative_time_to_absolute(content:\
          \ str, record_date: str) -> str:\n    if not content or not record_date:\n\
          \        return content\n    try:\n        base_date = datetime.strptime(record_date,\
          \ \"%Y-%m-%d\")\n    except Exception:\n        return content\n\n    try:\n\
          \        result = content\n        weekday_names = [\"一\", \"二\", \"三\"\
          , \"四\", \"五\", \"六\", \"日\"]\n        weekday_tokens = [(n, i) for i, n\
          \ in enumerate(weekday_names)] + [\n            (str(i + 1), i) for i in\
          \ range(7)\n        ]\n\n        # 0) 绝对日期先处理，避免后续替换产生「X月X日」被重复匹配\n    \
          \    for match in re.finditer(r\"(?<!\\d)(20\\d{6})(?!\\d)\", result):\n\
          \            s = match.group(1)\n            try:\n                result\
          \ = result.replace(match.group(0), _fmt(datetime.strptime(s, \"%Y%m%d\"\
          )))\n            except ValueError:\n                pass\n        for match\
          \ in re.finditer(r\"(20\\d{2})[-/](\\d{1,2})[-/](\\d{1,2})\", result):\n\
          \            try:\n                y, m, d = int(match.group(1)), int(match.group(2)),\
          \ int(match.group(3))\n                result = result.replace(match.group(0),\
          \ _fmt(datetime(y, m, d)))\n            except ValueError:\n           \
          \     pass\n        for match in re.finditer(r\"(?<![\\d年])(\\d{1,2})月(\\\
          d{1,2})[号日]?\", result):\n            m, d = int(match.group(1)), int(match.group(2))\n\
          \            try:\n                result = result.replace(\n          \
          \          match.group(0), _fmt(base_date.replace(month=m, day=d))\n   \
          \             )\n            except ValueError:\n                pass\n\n\
          \        # 1) 日相对词（长词优先，避免「大后天」被「后天」截断）\n        day_mappings = [\n    \
          \        (\"大前天\", lambda d: d - timedelta(days=3)),\n            (\"大后天\"\
          , lambda d: d + timedelta(days=3)),\n            (\"前天\", lambda d: d -\
          \ timedelta(days=2)),\n            (\"后天\", lambda d: d + timedelta(days=2)),\n\
          \            (\"昨天\", lambda d: d - timedelta(days=1)),\n            (\"\
          今早\", lambda d: d),\n            (\"今晚\", lambda d: d),\n            (\"\
          今天上午\", lambda d: d),\n            (\"今天下午\", lambda d: d),\n          \
          \  (\"今天晚上\", lambda d: d),\n            (\"今天\", lambda d: d),\n      \
          \      (\"刚刚\", lambda d: d),\n            (\"明天\", lambda d: d + timedelta(days=1)),\n\
          \            (\"明日\", lambda d: d + timedelta(days=1)),\n        ]\n   \
          \     for rel_time, calc_date in day_mappings:\n            if rel_time\
          \ in result:\n                result = result.replace(rel_time, _fmt(calc_date(base_date)))\n\
          \n        # 2) 星期相对词（长前缀优先）\n        week_prefixes = [\n            (\"\
          下下周\", 14),\n            (\"下星期\", 7),  # 下星期三 等，按「下周」处理\n            (\"\
          下周\", 7),\n            (\"上上周\", 14),\n            (\"上星期\", 7),\n     \
          \       (\"上周\", 7),\n            (\"这周\", 0),\n            (\"本周\", 0),\n\
          \        ]\n        for prefix, week_offset in week_prefixes:\n        \
          \    for suffix, i in weekday_tokens:\n                pattern = f\"{prefix}{suffix}\"\
          \n                if pattern not in result:\n                    continue\n\
          \                if week_offset == 0:\n                    days_diff = i\
          \ - base_date.weekday()\n                elif prefix.startswith(\"上\"):\n\
          \                    days_back = base_date.weekday() - i + week_offset\n\
          \                    if days_back <= 0:\n                        days_back\
          \ += 7\n                    abs_date = base_date - timedelta(days=days_back)\n\
          \                    result = result.replace(pattern, _fmt(abs_date))\n\
          \                    continue\n                else:\n                 \
          \   days_diff = week_offset + (i - base_date.weekday())\n              \
          \  abs_date = base_date + timedelta(days=days_diff)\n                result\
          \ = result.replace(pattern, _fmt(abs_date))\n\n        for suffix, i in\
          \ weekday_tokens:\n            for pfx in (\"周\", \"星期\"):\n           \
          \     pattern = f\"{pfx}{suffix}\"\n                if pattern in result:\n\
          \                    days_diff = i - base_date.weekday()\n             \
          \       abs_date = base_date + timedelta(days=days_diff)\n             \
          \       result = result.replace(pattern, _fmt(abs_date))\n\n        # 3)\
          \ 月份 + 日\n        month_day_patterns = [\n            (r\"上个月(\\d{1,2})[号日]?\"\
          , -1),\n            (r\"上月(\\d{1,2})[号日]?\", -1),\n            (r\"(?:本月|这个月)(\\\
          d{1,2})[号日]?\", 0),\n            (r\"(?:下个月|下月)(\\d{1,2})[号日]?\", 1),\n\
          \        ]\n        for pat, month_delta in month_day_patterns:\n      \
          \      for match in re.finditer(pat, result):\n                day = int(match.group(1))\n\
          \                abs_date = _shift_month(base_date, month_delta, day)\n\
          \                if abs_date:\n                    result = result.replace(match.group(0),\
          \ _fmt(abs_date))\n\n        # 3b) 单独「X号/X日」（无月份前缀）→ 记账当月对应日期\n        for\
          \ match in re.finditer(r\"(?<![\\d年月])(\\d{1,2})[号日](?![\\d月])\", result):\n\
          \            day = int(match.group(1))\n            if day < 1 or day >\
          \ 31:\n                continue\n            abs_date = _shift_month(base_date,\
          \ 0, day)\n            if abs_date:\n                result = result.replace(match.group(0),\
          \ _fmt(abs_date))\n\n        # 4) 单独「本月/这个月/上个月/下个月」→ 基准日所在月首尾语境，按基准日当天\n\
          \        for word in (\"上个月\", \"上月\", \"下个月\", \"下月\"):\n            if\
          \ word in result:\n                delta = -1 if \"上\" in word else 1\n\
          \                abs_date = _shift_month(base_date, delta, base_date.day)\n\
          \                if abs_date:\n                    result = result.replace(word,\
          \ _fmt(abs_date))\n        for word in (\"本月\", \"这个月\"):\n            if\
          \ word in result:\n                result = result.replace(word, _fmt(base_date))\n\
          \n        # 5) N天前 / N周前 / N个月前 / 半月前\n        for match in re.finditer(r\"\
          (\\d{1,3})天前\", result):\n            n = int(match.group(1))\n        \
          \    result = result.replace(match.group(0), _fmt(base_date - timedelta(days=n)))\n\
          \        for match in re.finditer(r\"(\\d{1,2})周前\", result):\n        \
          \    n = int(match.group(1))\n            result = result.replace(match.group(0),\
          \ _fmt(base_date - timedelta(weeks=n)))\n        for match in re.finditer(r\"\
          (\\d{1,2})个月前\", result):\n            n = int(match.group(1))\n       \
          \     result = result.replace(match.group(0), _fmt(_shift_month(base_date,\
          \ -n, base_date.day) or base_date))\n        if \"半月前\" in result:\n   \
          \         result = result.replace(\"半月前\", _fmt(base_date - timedelta(days=15)))\n\
          \n        return result\n    except Exception:\n        return content\n\
          \n\n\n_AMOUNT_EXPR_RE = re.compile(\n    r\"(?<![\\d.])(\\d+(?:\\.\\d+)?(?:[+\\\
          -*/]\\d+(?:\\.\\d+)?)+)(?![\\d.])\"\n)\n\n\ndef _parse_and_eval(expr: str)\
          \ -> Optional[Decimal]:\n    parts = re.split(r\"([+\\-*/])\", expr)\n \
          \   if not parts or not parts[0]:\n        return None\n    try:\n     \
          \   acc = Decimal(parts[0])\n    except Exception:\n        return None\n\
          \    i = 1\n    while i + 1 < len(parts):\n        op, val_s = parts[i],\
          \ parts[i + 1]\n        try:\n            val = Decimal(val_s)\n       \
          \ except Exception:\n            return None\n        if op == \"+\":\n\
          \            acc += val\n        elif op == \"-\":\n            acc -= val\n\
          \        elif op == \"*\":\n            acc *= val\n        elif op == \"\
          /\":\n            if val == 0:\n                return None\n          \
          \  acc /= val\n        else:\n            return None\n        i += 2\n\
          \    return acc.quantize(Decimal(\"0.01\"), rounding=ROUND_HALF_UP)\n\n\n\
          def _format_amount(val: Decimal) -> str:\n    s = format(val, \"f\")\n \
          \   if \".\" in s:\n        s = s.rstrip(\"0\").rstrip(\".\")\n    return\
          \ s\n\n\ndef collapse_amount_expressions(content: str) -> str:\n    if not\
          \ content:\n        return content\n    result = content\n    matches =\
          \ list(_AMOUNT_EXPR_RE.finditer(result))\n    for m in reversed(matches):\n\
          \        expr = m.group(1)\n        val = _parse_and_eval(expr)\n      \
          \  if val is None:\n            continue\n        replacement = _format_amount(val)\n\
          \        result = result[: m.start(1)] + replacement + result[m.end(1) :]\n\
          \    return result\n\ndef preprocess_content_with_date(content: str, record_date:\
          \ str) -> str:\n    if not record_date:\n        return content\n    try:\n\
          \        return convert_relative_time_to_absolute(content, record_date)\n\
          \    except Exception:\n        return content\n\n\ndef main(arg1: str,\
          \ time: str = None) -> dict:\n    try:\n        if time:\n            t\
          \ = time.strip()\n            if len(t) == 10:\n                record_date\
          \ = datetime.strptime(t, \"%Y-%m-%d\").strftime(\"%Y-%m-%d\")\n        \
          \    else:\n                record_date = datetime.strptime(t[:19], \"%Y-%m-%d\
          \ %H:%M:%S\").strftime(\n                    \"%Y-%m-%d\"\n            \
          \    )\n        else:\n            record_date = datetime.now().strftime(\"\
          %Y-%m-%d\")\n    except Exception:\n        record_date = \"\"\n    try:\n\
          \        out = preprocess_content_with_date(arg1, record_date)\n       \
          \ out = collapse_amount_expressions(out)\n    except Exception:\n      \
          \  out = arg1\n    return {\"result\": out}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 706
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1762159084543'
          - user_query
          value_type: string
          variable: arg1
        - value_selector:
          - '1762159229951'
          - text
          value_type: string
          variable: time
      height: 82
      id: '1771913498969'
      position:
        x: 609.5546053168513
        y: 19
      positionAbsolute:
        x: 609.5546053168513
        y: 19
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779205180001'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 3
        type: end
      height: 88
      id: '1773113492659'
      position:
        x: 1689.6074880757533
        y: -22.007614108707003
      positionAbsolute:
        x: 1689.6074880757533
        y: -22.007614108707003
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 2048
            temperature: 0
            thinking: disabled
          mode: chat
          name: Doubao-Seed-2.0-mini-260215
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: a2517653-49f3-4ebd-bb5c-e9acaae878a2
          role: system
          text: "你是一个专业的财务账单数据提取专家。从口语化记账描述中提取账单，输出标准 JSON 数组（单笔也输出单元素数组）。\n\n****\n\
            用户输入：{{#1771913498969.result#}}\n当前时间：{{#1762159229951.text#}}\n可选账单分类（含一二级）：{{#1762159084543.classify#}}\n\
            合法交易渠道白名单（valid_check）：{{#1762159084543.valid_check#}}\n默认交易渠道（check）：{{#1762159084543.check#}}\n\
            ****\n\n【语义】\"31晚饭\"=晚饭支出31元；\"31.08买东西\"=消费31.08元；纯数字X优先认定为支出。\n【时间】未提及则用当前时间的日期；有具体日期按描述；相对词（昨天/前天/刚刚等）按当前时间推算。输入中部分相对时间已由系统预转为\"\
            YYYY年MM月DD日\"，请优先采用。最终格式：YYYY年MM月DD日。\n- 单独「X号/X日」（无月份，如「2号车载纸巾盒101.35」）已由系统预转为记账当月对应日期，请优先采用；后部数字仍为金额。\n\
            - 数字与日期歧义：若 query 中仅有**一个**独立数字（含小数如 6.4、5.14、13.9），该数字**只能作为金额**，时间用当前日期，**禁止**同时解析为「月.日」或「M月D日」；不论数字在事项前或后均适用（如「6.4打车」「打车6.4」「31晚饭」「5.14尿不湿」）。\n\
            - 仅当出现明确日期词（月/日/号/年月日）、系统预转绝对日期，或 query 含**两个及以上**独立数字（日期+金额）时，才将前一数字作为日期，如\"\
            6.7车费1.8\"、\"6.4追星卡片182.4\"。\n【分类】\n- 优先级最高==>\n1）如果输入中有明确的字样，比如输入中的用词和某个二级分类完全一致，可以直接匹配到某条账单二级分类，比如输入query\"\
            奶茶20\"，classify:[外卖：{奶茶}]，那么直接确定该笔账单的二级分类，以及对应的一级分类。\n2）如果无法直接匹配到某账单二级分类，再按照下列顺序，先确定一级分类，再确定二级分类。\n\
            - 账单分类：必须且只能从「可选账单分类」中的一级名称选取一项，输出名称须与列表原文完全一致；**优先匹配用户自定义/列表专属一级**，禁止擅自归并为餐饮/交通/其他等「更常见」标准类；禁止无/未知/自创列表外名称；仅当列表内无专属项时，选列表中最接近的标准类（陪玩→其他）。\n\
            - 账单二级分类：若该一级在花括号内配置了二级选项（非 null），判断输入语义是否适合分类到某个二级列表，如果适合，选对应的二级分类，如果没有适合的选项，直接填null，再或者无二级列表配置，账单二级分类填\
            \ null。\n- 示例：走亲戚100元 → 账单分类「人情社交」，账单二级分类「亲戚」；仅「午饭30」→ 账单分类「餐饮」，账单二级分类\
            \ null。\n\n【分类决策流程】classify 列表是唯一合法来源\n\n第一步 — 解析列表：从「可选账单分类」提取全部一级名称（冒号前的词）。其中含用户自定义类（如「话费充值」「游戏提现」「收转账」「饮料」「零食」「妈妈报销」等），与标准类地位相同。\n\
            \n第二步 — 用户自定义/列表专属一级（最高优先级，禁止归并）：\n- 先在列表中查找语义匹配的专属一级；若存在，**必须**输出该一级的**列表原文**，禁止替换为其他类，**不得**因常识改填到一些范围更广的标准类。\n\
            - 列表中存在时的常见映射（以列表原文为准，两项都在列表时选更贴切者）：\n  · 话费/流量/充话费 → 「话费充值」或「网络虚拟」\n\
            \  · 快手/抖音/视频/游戏/短剧 + 提现 → 「游戏提现」\n\n第三步 — 列表内标准一级（仅第二步无专属匹配时，且须为列表中已有名称）：\n\
            - 加油/油费/停车费/汽车充电 → 「爱车」（列表有）；电动车充电/邮费/快递/打印资料 → 「生活服务」\n- 衣服/鞋/包/表 → 「购物」；美甲/化妆品/美容护理\
            \ → 「穿搭美容」\n- 婴幼儿用品/尿不湿 → 「养娃」；宠物用品/宠物药 → 「宠物」\n\n第四步 — 禁止：输出列表外名称；用常识覆盖列表专属一级；将用户自定义类「标准化」为餐饮/交通/其他。\n\
            \n【渠道】\n- 合法交易渠道白名单见「valid_check」；默认渠道见「check」。\n- 用户输入中明确提及且属于白名单的渠道\
            \ → 交易渠道填该渠道名（与白名单一致）。\n- 用户未提及渠道，或提及的渠道不在白名单 → 交易渠道填「check」；若 check 为空则填「无」。\n\
            【类型】收入或支出，默认支出，需要根据语义去判定是否是收入，如果是收入，往往是退款类原因或者明确的入账，工资等，比如\"12块钱的午饭，因为没有饭了，所以被退回来了\"\
            、\"淘宝退货退款\"，或者描述了退款相关，但是语义其实是还没退，或者还没到账，那么也是支出。\n【金额】纯数字（可两位小数）。系统预处理可能已将连加金额折叠为单个数字（如「买吃的269.4」「高铁66」），直接采用该数字作为金额，勿再拆分或重算。\n\
            - 连加求和（单笔）：同一事项/消费描述后，用 + 连续拼接的多个金额（如「买吃的29.9+39.9+49.9」「高铁33+33」）表示一笔账总支出，须输出单个求和金额，禁止拆成多条\
            \ JSON。\n- 与多笔区分：仅当逗号、顿号、空格分隔不同事项（如「美甲4.5，买菜2.8」「花呗5打车20」）时拆多笔；「A+B+C」连加不是多笔。\n\
            - 与日期区分：绝对日期（含系统预转的「YYYY年MM月DD日」）之后的数字段，若曾含 + 连接则已折叠为总金额，不得再解析为日期+金额；**仅当存在第二个独立金额数字时**，如「6.4追星卡片182.4」中\
            \ 6.4 为日期、182.4 为金额；单数字输入禁止套用此规则。\n- 若输入仍含未折叠的 +-*/ 段，须先求值：吃饭20+50+3→73；上网20-6→14。禁止留空。\n\
            【事项】具体消费名，不明确简写如\"消费\"。\n【多笔】逗号、顿号、空格或并列描述（如\"美甲X元，买菜Y元\"、\"花呗5打车20\"\
            ）拆成多条，每条字段齐全。禁止将同一事项后的连加金额（如29.9+39.9+49.9，或已折叠的269.4、66）拆成多笔。\n\n【输出要求】只输出合法\
            \ JSON 数组，无 markdown、无解释；键名：时间、账单分类、账单二级分类、交易渠道、类型、金额、事项；英文双引号与半角标点。\n\
            \n示例-单笔（交通）：八月三十一号打车七点五元 → [{\"时间\":\"2025年08月31日\",\"账单分类\":\"交通\",\"\
            账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":7.5,\"事项\":\"打车\"}]\n\
            示例-用户自定义（饮料，禁止改餐饮）：列表含「饮料」时，饮料3元 → [{\"时间\":\"...\",\"账单分类\":\"饮料\",\"\
            账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":3,\"事项\":\"饮料\"}]\n\
            示例-连加求和：2025年06月23日买吃的269.4 → [{\"时间\":\"2025年06月23日\",\"账单分类\":\"餐饮\"\
            ,\"账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":269.4,\"事项\":\"买吃的\"\
            }]\n示例-往返合并：高铁66 → [{\"时间\":\"...\",\"账单分类\":\"交通\",\"账单二级分类\":null,\"\
            交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":66,\"事项\":\"高铁\"}]\n示例-单数字仅金额：6.4打车\
            \ → [{\"时间\":\"...\",\"账单分类\":\"交通\",\"账单二级分类\":null,\"交易渠道\":\"无\",\"\
            类型\":\"支出\",\"金额\":6.4,\"事项\":\"打车\"}]\n示例-日期加金额：6.6咖啡15.4→ [ {\"时间\"\
            : \"2026年06月06日\", \"账单分类\": \"餐饮\", \"账单二级分类\": null, \"交易渠道\": \"无\"\
            , \"类型\": \"支出\", \"金额\": 15.4, \"事项\": \"咖啡\"}]\n示例-二级分类：走亲戚100元 → [{\"\
            时间\":\"...\",\"账单分类\":\"人情社交\",\"账单二级分类\":\"亲戚\",\"交易渠道\":\"无\",\"类型\"\
            :\"支出\",\"金额\":100,\"事项\":\"走亲戚\"}]\n示例-二级分类-无匹配项：外卖100元 classify: \"\
            [工资:{null}，兼职:{null}，投资理财，人情社交:{职场，亲戚，借用，回礼}，外卖：{汉堡}]\"→ [{\"时间\": \"\
            ...\", \"账单分类\": \"外卖\", \"账单二级分类\": \"null\", \"交易渠道\": \"无\", \"类型\"\
            : \"支出\", \"金额\": 100.0, \"事项\": \"外卖\"}]\n示例-输入直接匹配到二级分类：西瓜20元 classify:\
            \ \"[\"餐饮\": {西瓜,甜品,烧烤},\"水果零食\": {null}]\"→ [{\"时间\": \"...\", \"账单分类\"\
            : \"餐饮\", \"账单二级分类\": \"西瓜\", \"交易渠道\": \"无\", \"类型\": \"支出\", \"金额\"\
            : 20.0, \"事项\": \"西瓜\"}]\n示例-输入直接匹配到多个二级分类，直接匹配classify中顺序靠前的那个一级+二级分类：外卖20，classify:[餐饮：{11}，生活日用：{外卖}，休闲娱乐：{外卖}]，→\
            \ [{\"时间\": \"...\", \"账单分类\": \"生活日用\", \"账单二级分类\": \"外卖\", \"交易渠道\"\
            : \"无\", \"类型\": \"支出\", \"金额\": 20.0, \"事项\": \"外卖\"}]\n示例-多笔：美甲四点五元，晚上买菜2.8元\
            \ → [{\"时间\":\"...\",\"账单分类\":\"穿搭美容\",\"账单二级分类\":null,\"交易渠道\":\"无\"\
            ,\"类型\":\"支出\",\"金额\":4.5,\"事项\":\"美甲\"},{\"时间\":\"...\",\"账单分类\":\"买菜\"\
            ,\"账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"支出\",\"金额\":2.8,\"事项\":\"蔬菜\"\
            }]\n示例-多笔：花呗5打车20 前天打车30 今天晚上吃饭35→ [{\"时间\": \"2026年06月15日\", \"账单分类\"\
            : \"还款\", \"账单二级分类\": null, \"交易渠道\": \"无\", \"类型\": \"支出\", \"金额\": 5.0,\
            \ \"事项\": \"花呗\"}, {\"时间\": \"2026年06月15日\", \"账单分类\": \"交通\", \"账单二级分类\"\
            : null, \"交易渠道\": \"无\", \"类型\": \"支出\", \"金额\": 20.0, \"事项\": \"打车\"\
            }, {\"时间\": \"2026年06月13日\", \"账单分类\": \"交通\", \"账单二级分类\": null, \"交易渠道\"\
            : \"无\", \"类型\": \"支出\", \"金额\": 30.0, \"事项\": \"打车\"}, {\"时间\": \"2026年06月15日\"\
            , \"账单分类\": \"餐饮\", \"账单二级分类\": null, \"交易渠道\": \"无\", \"类型\": \"支出\"\
            , \"金额\": 35.0, \"事项\": \"吃饭\"}]\n示例-收入：+30 → [{\"时间\":\"...\",\"账单分类\"\
            :\"其他\",\"账单二级分类\":null,\"交易渠道\":\"无\",\"类型\":\"收入\",\"金额\":30,\"事项\"\
            :\"收入\"}]\n注意：陪玩→其他"
        - id: 14597422-4398-470a-a876-1afb0e1c4c9e
          role: user
          text: 用户输入为:{{#1771913498969.result#}}
        selected: false
        structured_output_enabled: false
        title: 主模型
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779160950882'
      position:
        x: 1144.4649863831455
        y: -22.007614108707003
      positionAbsolute:
        x: 1144.4649863831455
        y: -22.007614108707003
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "# -*- coding: utf-8 -*-\n\"\"\"文字账单提取 - JSON 后处理（二级分类 + 交易渠道）\"\"\"\
          \nimport json\nimport re\nfrom datetime import datetime\nfrom typing import\
          \ Any, Dict, List, Optional, Tuple\n\n_KEYS = (\"时间\", \"账单分类\", \"账单二级分类\"\
          , \"交易渠道\", \"类型\", \"金额\", \"事项\")\n\n_STANDALONE_NUM_RE = re.compile(r\"\
          (?<![\\d.])(\\d+(?:\\.\\d+)?)(?![\\d.])\")\n_DATE_MARKER_RE = re.compile(\n\
          \    r\"[月日号]|昨天|今天|前天|后天|星期|上周|下周|大前天|大后天|今早|今晚|刚刚|明日|明天|本月|上月|下月\"\n \
          \   r\"|\\d{4}年\\d{1,2}月\\d{1,2}日\"\n)\n_TIME_FMT_RE = re.compile(r\"(\\\
          d{4})年(\\d{1,2})月(\\d{1,2})日\")\n\n\ndef _parse_classify_tree(classify_raw:\
          \ str) -> Dict[str, Optional[List[str]]]:\n    \"\"\"\n    解析 classify 参数，如：\n\
          \    [工资:{null}，兼职:{null}，人情社交:{职场，亲戚，借用，回礼}]\n    返回 {一级: None 或 [二级,...]}\n\
          \    \"\"\"\n    if not classify_raw or not str(classify_raw).strip():\n\
          \        return {}\n    text = str(classify_raw).strip()\n    text = text.strip(\"\
          []【】\")\n    tree: Dict[str, Optional[List[str]]] = {}\n    for m in re.finditer(r\"\
          ([^:，,\\s]+)\\s*:\\s*\\{([^}]*)\\}\", text):\n        level1 = m.group(1).strip()\n\
          \        inner = m.group(2).strip()\n        if not level1:\n          \
          \  continue\n        if inner.lower() in (\"null\", \"none\", \"无\", \"\"\
          ):\n            tree[level1] = None\n        else:\n            subs = [s.strip()\
          \ for s in re.split(r\"[，,、]\", inner) if s.strip()]\n            tree[level1]\
          \ = subs or None\n    return tree\n\n\ndef _parse_channel_list(raw: str)\
          \ -> List[str]:\n    if not raw or not str(raw).strip():\n        return\
          \ []\n    text = str(raw).strip().strip(\"[]【】\")\n    parts = re.split(r\"\
          [，,、|/;\\s]+\", text)\n    return [p.strip() for p in parts if p.strip()]\n\
          \n\ndef _find_channel_in_text(text: str, candidates: List[str]) -> Optional[str]:\n\
          \    if not text or not candidates:\n        return None\n    matched: List[Tuple[int,\
          \ int, str]] = []\n    for ch in candidates:\n        idx = text.find(ch)\n\
          \        if idx >= 0:\n            matched.append((idx, len(ch), ch))\n\
          \    if not matched:\n        return None\n    matched.sort(key=lambda x:\
          \ (-x[1], x[0]))\n    return matched[0][2]\n\n\ndef resolve_transaction_channel(\n\
          \    user_query: str,\n    _llm_channel: str,\n    valid_check: str,\n \
          \   check: str,\n) -> str:\n    \"\"\"\n    交易渠道规则：\n    1. query 提及渠道 →\
          \ 用 valid_check 白名单校验，合规则用 query 中渠道名（规范到白名单项）\n    2. 未提及或不合规 → 用 check\
          \ 参数；check 为空 → 无\n    \"\"\"\n    whitelist = _parse_channel_list(valid_check)\n\
          \    check_default = str(check or \"\").strip()\n    query = str(user_query\
          \ or \"\")\n\n    mentioned = _find_channel_in_text(query, whitelist)\n\
          \    if mentioned:\n        return mentioned\n\n    if check_default:\n\
          \        check_list = _parse_channel_list(check_default)\n        if len(check_list)\
          \ == 1:\n            return check_list[0]\n        if check_list:\n    \
          \        in_query = _find_channel_in_text(query, check_list)\n         \
          \   return in_query or check_list[0]\n        return check_default\n\n \
          \   return \"无\"\n\n\ndef normalize_secondary_classify(\n    level1: str,\n\
          \    level2: str,\n    classify_tree: Dict[str, Optional[List[str]]],\n\
          ) -> Any:\n    \"\"\"校验并规范化二级分类；无二级体系时返回 null。\"\"\"\n    l1 = str(level1\
          \ or \"\").strip()\n    l2 = str(level2 or \"\").strip()\n    if not l1\
          \ or l1 in (\"无\", \"未知\"):\n        return None\n    if l1 not in classify_tree:\n\
          \        return l2 if l2 and l2 not in (\"无\", \"null\", \"None\") else\
          \ None\n    subs = classify_tree[l1]\n    if subs is None:\n        return\
          \ None\n    if not l2 or l2 in (\"无\", \"null\", \"None\"):\n        return\
          \ None\n    if l2 in subs:\n        return l2\n    for s in subs:\n    \
          \    if s in l2 or l2 in s:\n            return s\n    return None\n\n\n\
          def _search_text_for_item(item: dict, user_query: str) -> str:\n    matter\
          \ = str(item.get(\"事项\") or \"\").strip()\n    if matter and matter not\
          \ in (\"消费\", \"支出\", \"收入\"):\n        return matter\n    return str(user_query\
          \ or \"\")\n\n\ndef resolve_classify_from_query(\n    search_text: str,\n\
          \    classify_tree: Dict[str, Optional[List[str]]],\n) -> Optional[Tuple[str,\
          \ str]]:\n    \"\"\"\n    输入含 classify 树中的二级分类名时，按 classify 列表顺序返回 (一级,\
          \ 二级)。\n    例：汉堡20 + 外卖:{奶茶,汉堡} → (外卖, 汉堡)，优先于同名一级「汉堡:{null}」。\n    \"\"\
          \"\n    query = str(search_text or \"\")\n    if not query or not classify_tree:\n\
          \        return None\n    for level1, subs in classify_tree.items():\n \
          \       if not subs:\n            continue\n        for sub in subs:\n \
          \           if sub and sub in query:\n                return level1, sub\n\
          \    return None\n\n\ndef apply_classify_from_query(\n    row: dict,\n \
          \   classify_tree: Dict[str, Optional[List[str]]],\n    user_query: str,\n\
          ) -> None:\n    matched = resolve_classify_from_query(\n        _search_text_for_item(row,\
          \ user_query), classify_tree\n    )\n    if matched:\n        row[\"账单分类\"\
          ], row[\"账单二级分类\"] = matched\n\n\ndef _extract_standalone_numbers(text:\
          \ str) -> List[str]:\n    return _STANDALONE_NUM_RE.findall(str(text or\
          \ \"\"))\n\n\ndef _query_has_date_marker(query: str) -> bool:\n    return\
          \ bool(_DATE_MARKER_RE.search(str(query or \"\")))\n\n\ndef _num_matches_md(num:\
          \ str, month: int, day: int) -> bool:\n    if \".\" not in num:\n      \
          \  return False\n    parts = num.split(\".\", 1)\n    try:\n        return\
          \ int(parts[0]) == month and int(parts[1]) == day\n    except ValueError:\n\
          \        return False\n\n\ndef _format_record_date(time_str: str) -> Optional[str]:\n\
          \    if not time_str:\n        return None\n    t = str(time_str).strip()\n\
          \    try:\n        if len(t) == 10:\n            d = datetime.strptime(t,\
          \ \"%Y-%m-%d\")\n        else:\n            d = datetime.strptime(t[:19],\
          \ \"%Y-%m-%d %H:%M:%S\")\n        return f\"{d.year}年{d.month:02d}月{d.day:02d}日\"\
          \n    except Exception:\n        return None\n\n\ndef fix_single_number_date_ambiguity(\n\
          \    row: dict, user_query: str, time_str: str = \"\"\n) -> None:\n    \"\
          \"\"单数字输入被 LLM 误解析为月.日时，纠正为当前记账日 + 唯一数字作金额。\"\"\"\n    query = str(user_query\
          \ or \"\")\n    if _query_has_date_marker(query):\n        return\n    nums\
          \ = _extract_standalone_numbers(query)\n    if len(nums) != 1:\n       \
          \ return\n    num = nums[0]\n    if \".\" not in num:\n        return\n\
          \    time_field = str(row.get(\"时间\", \"\"))\n    m = _TIME_FMT_RE.match(time_field)\n\
          \    if not m:\n        return\n    month, day = int(m.group(2)), int(m.group(3))\n\
          \    if not _num_matches_md(num, month, day):\n        return\n    corrected\
          \ = _format_record_date(time_str)\n    if corrected:\n        row[\"时间\"\
          ] = corrected\n    try:\n        row[\"金额\"] = float(num)\n    except (TypeError,\
          \ ValueError):\n        pass\n\n\ndef _parse(raw: str) -> list:\n    if\
          \ not raw or not str(raw).strip():\n        return []\n    s = str(raw).strip()\n\
          \    if s.startswith(\"```json\"):\n        s = s[7:]\n    elif s.startswith(\"\
          ```\"):\n        s = s[3:]\n    if s.endswith(\"```\"):\n        s = s[:-3]\n\
          \    s = s.strip().replace(\"：\", \":\").replace(\"，\", \",\")\n    try:\n\
          \        data = json.loads(s)\n        if isinstance(data, list):\n    \
          \        return data\n        if isinstance(data, dict):\n            return\
          \ [data]\n    except Exception:\n        pass\n    return []\n\n\ndef _norm(\n\
          \    item: dict,\n    classify_tree: Dict[str, Optional[List[str]]],\n \
          \   user_query: str,\n    valid_check: str,\n    check: str,\n    time_str:\
          \ str = \"\",\n) -> Optional[dict]:\n    if not isinstance(item, dict):\n\
          \        return None\n    row = {k: item.get(k, \"\") for k in _KEYS}\n\
          \    if \"账单二级分类\" not in item and item.get(\"二级分类\"):\n        row[\"账单二级分类\"\
          ] = item.get(\"二级分类\", \"\")\n\n    if not str(row.get(\"交易渠道\", \"\")).strip():\n\
          \        row[\"交易渠道\"] = \"无\"\n\n    row[\"交易渠道\"] = resolve_transaction_channel(\n\
          \        user_query, row.get(\"交易渠道\", \"\"), valid_check, check\n    )\n\
          \n    apply_classify_from_query(row, classify_tree, user_query)\n\n    row[\"\
          账单二级分类\"] = normalize_secondary_classify(\n        row.get(\"账单分类\", \"\"\
          ),\n        row.get(\"账单二级分类\", \"\"),\n        classify_tree,\n    )\n\n\
          \    try:\n        row[\"金额\"] = float(row[\"金额\"])\n    except (TypeError,\
          \ ValueError):\n        pass\n\n    fix_single_number_date_ambiguity(row,\
          \ user_query, time_str)\n    return row\n\n\ndef main(\n    llm_text: str,\n\
          \    user_query: str = \"\",\n    classify: str = \"\",\n    valid_check:\
          \ str = \"\",\n    check: str = \"\",\n    time: str = \"\",\n) -> dict:\n\
          \    classify_tree = _parse_classify_tree(classify)\n    raw_list = _parse(llm_text)\n\
          \    bills = [\n        b\n        for b in (\n            _norm(x, classify_tree,\
          \ user_query, valid_check, check, time)\n            for x in raw_list\n\
          \        )\n        if b\n    ]\n    text = json.dumps(bills, ensure_ascii=False)\n\
          \    return {\n        \"text\": text,\n        \"bill_count\": len(bills),\n\
          \        \"structured_output\": bills[0] if bills else {},\n    }\n"
        code_language: python3
        outputs:
          bill_count:
            children: null
            type: number
          structured_output:
            children: null
            type: object
          text:
            children: null
            type: string
        selected: false
        title: JSON后处理-主路径
        type: code
        variables:
        - value_selector:
          - '1779160950882'
          - text
          value_type: string
          variable: llm_text
        - value_selector:
          - '1771913498969'
          - result
          value_type: string
          variable: user_query
        - value_selector:
          - '1762159084543'
          - classify
          value_type: string
          variable: classify
        - value_selector:
          - '1762159084543'
          - valid_check
          value_type: string
          variable: valid_check
        - value_selector:
          - '1762159084543'
          - check
          value_type: string
          variable: check
        - value_selector:
          - '1762159229951'
          - text
          value_type: string
          variable: time
      height: 51
      id: '1779205180001'
      position:
        x: 1418.139757124833
        y: -22.007614108707003
      positionAbsolute:
        x: 1418.139757124833
        y: -22.007614108707003
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "# -*- coding: utf-8 -*-\n\"\"\"文字账单提取 - JSON 后处理（二级分类 + 交易渠道）\"\"\"\
          \nimport json\nimport re\nfrom datetime import datetime\nfrom typing import\
          \ Any, Dict, List, Optional, Tuple\n\n_KEYS = (\"时间\", \"账单分类\", \"账单二级分类\"\
          , \"交易渠道\", \"类型\", \"金额\", \"事项\")\n\n_STANDALONE_NUM_RE = re.compile(r\"\
          (?<![\\d.])(\\d+(?:\\.\\d+)?)(?![\\d.])\")\n_DATE_MARKER_RE = re.compile(\n\
          \    r\"[月日号]|昨天|今天|前天|后天|星期|上周|下周|大前天|大后天|今早|今晚|刚刚|明日|明天|本月|上月|下月\"\n \
          \   r\"|\\d{4}年\\d{1,2}月\\d{1,2}日\"\n)\n_TIME_FMT_RE = re.compile(r\"(\\\
          d{4})年(\\d{1,2})月(\\d{1,2})日\")\n\n\ndef _parse_classify_tree(classify_raw:\
          \ str) -> Dict[str, Optional[List[str]]]:\n    \"\"\"\n    解析 classify 参数，如：\n\
          \    [工资:{null}，兼职:{null}，人情社交:{职场，亲戚，借用，回礼}]\n    返回 {一级: None 或 [二级,...]}\n\
          \    \"\"\"\n    if not classify_raw or not str(classify_raw).strip():\n\
          \        return {}\n    text = str(classify_raw).strip()\n    text = text.strip(\"\
          []【】\")\n    tree: Dict[str, Optional[List[str]]] = {}\n    for m in re.finditer(r\"\
          ([^:，,\\s]+)\\s*:\\s*\\{([^}]*)\\}\", text):\n        level1 = m.group(1).strip()\n\
          \        inner = m.group(2).strip()\n        if not level1:\n          \
          \  continue\n        if inner.lower() in (\"null\", \"none\", \"无\", \"\"\
          ):\n            tree[level1] = None\n        else:\n            subs = [s.strip()\
          \ for s in re.split(r\"[，,、]\", inner) if s.strip()]\n            tree[level1]\
          \ = subs or None\n    return tree\n\n\ndef _parse_channel_list(raw: str)\
          \ -> List[str]:\n    if not raw or not str(raw).strip():\n        return\
          \ []\n    text = str(raw).strip().strip(\"[]【】\")\n    parts = re.split(r\"\
          [，,、|/;\\s]+\", text)\n    return [p.strip() for p in parts if p.strip()]\n\
          \n\ndef _find_channel_in_text(text: str, candidates: List[str]) -> Optional[str]:\n\
          \    if not text or not candidates:\n        return None\n    matched: List[Tuple[int,\
          \ int, str]] = []\n    for ch in candidates:\n        idx = text.find(ch)\n\
          \        if idx >= 0:\n            matched.append((idx, len(ch), ch))\n\
          \    if not matched:\n        return None\n    matched.sort(key=lambda x:\
          \ (-x[1], x[0]))\n    return matched[0][2]\n\n\ndef resolve_transaction_channel(\n\
          \    user_query: str,\n    _llm_channel: str,\n    valid_check: str,\n \
          \   check: str,\n) -> str:\n    \"\"\"\n    交易渠道规则：\n    1. query 提及渠道 →\
          \ 用 valid_check 白名单校验，合规则用 query 中渠道名（规范到白名单项）\n    2. 未提及或不合规 → 用 check\
          \ 参数；check 为空 → 无\n    \"\"\"\n    whitelist = _parse_channel_list(valid_check)\n\
          \    check_default = str(check or \"\").strip()\n    query = str(user_query\
          \ or \"\")\n\n    mentioned = _find_channel_in_text(query, whitelist)\n\
          \    if mentioned:\n        return mentioned\n\n    if check_default:\n\
          \        check_list = _parse_channel_list(check_default)\n        if len(check_list)\
          \ == 1:\n            return check_list[0]\n        if check_list:\n    \
          \        in_query = _find_channel_in_text(query, check_list)\n         \
          \   return in_query or check_list[0]\n        return check_default\n\n \
          \   return \"无\"\n\n\ndef normalize_secondary_classify(\n    level1: str,\n\
          \    level2: str,\n    classify_tree: Dict[str, Optional[List[str]]],\n\
          ) -> Any:\n    \"\"\"校验并规范化二级分类；无二级体系时返回 null。\"\"\"\n    l1 = str(level1\
          \ or \"\").strip()\n    l2 = str(level2 or \"\").strip()\n    if not l1\
          \ or l1 in (\"无\", \"未知\"):\n        return None\n    if l1 not in classify_tree:\n\
          \        return l2 if l2 and l2 not in (\"无\", \"null\", \"None\") else\
          \ None\n    subs = classify_tree[l1]\n    if subs is None:\n        return\
          \ None\n    if not l2 or l2 in (\"无\", \"null\", \"None\"):\n        return\
          \ None\n    if l2 in subs:\n        return l2\n    for s in subs:\n    \
          \    if s in l2 or l2 in s:\n            return s\n    return None\n\n\n\
          def _search_text_for_item(item: dict, user_query: str) -> str:\n    matter\
          \ = str(item.get(\"事项\") or \"\").strip()\n    if matter and matter not\
          \ in (\"消费\", \"支出\", \"收入\"):\n        return matter\n    return str(user_query\
          \ or \"\")\n\n\ndef resolve_classify_from_query(\n    search_text: str,\n\
          \    classify_tree: Dict[str, Optional[List[str]]],\n) -> Optional[Tuple[str,\
          \ str]]:\n    \"\"\"\n    输入含 classify 树中的二级分类名时，按 classify 列表顺序返回 (一级,\
          \ 二级)。\n    例：汉堡20 + 外卖:{奶茶,汉堡} → (外卖, 汉堡)，优先于同名一级「汉堡:{null}」。\n    \"\"\
          \"\n    query = str(search_text or \"\")\n    if not query or not classify_tree:\n\
          \        return None\n    for level1, subs in classify_tree.items():\n \
          \       if not subs:\n            continue\n        for sub in subs:\n \
          \           if sub and sub in query:\n                return level1, sub\n\
          \    return None\n\n\ndef apply_classify_from_query(\n    row: dict,\n \
          \   classify_tree: Dict[str, Optional[List[str]]],\n    user_query: str,\n\
          ) -> None:\n    matched = resolve_classify_from_query(\n        _search_text_for_item(row,\
          \ user_query), classify_tree\n    )\n    if matched:\n        row[\"账单分类\"\
          ], row[\"账单二级分类\"] = matched\n\n\ndef _extract_standalone_numbers(text:\
          \ str) -> List[str]:\n    return _STANDALONE_NUM_RE.findall(str(text or\
          \ \"\"))\n\n\ndef _query_has_date_marker(query: str) -> bool:\n    return\
          \ bool(_DATE_MARKER_RE.search(str(query or \"\")))\n\n\ndef _num_matches_md(num:\
          \ str, month: int, day: int) -> bool:\n    if \".\" not in num:\n      \
          \  return False\n    parts = num.split(\".\", 1)\n    try:\n        return\
          \ int(parts[0]) == month and int(parts[1]) == day\n    except ValueError:\n\
          \        return False\n\n\ndef _format_record_date(time_str: str) -> Optional[str]:\n\
          \    if not time_str:\n        return None\n    t = str(time_str).strip()\n\
          \    try:\n        if len(t) == 10:\n            d = datetime.strptime(t,\
          \ \"%Y-%m-%d\")\n        else:\n            d = datetime.strptime(t[:19],\
          \ \"%Y-%m-%d %H:%M:%S\")\n        return f\"{d.year}年{d.month:02d}月{d.day:02d}日\"\
          \n    except Exception:\n        return None\n\n\ndef fix_single_number_date_ambiguity(\n\
          \    row: dict, user_query: str, time_str: str = \"\"\n) -> None:\n    \"\
          \"\"单数字输入被 LLM 误解析为月.日时，纠正为当前记账日 + 唯一数字作金额。\"\"\"\n    query = str(user_query\
          \ or \"\")\n    if _query_has_date_marker(query):\n        return\n    nums\
          \ = _extract_standalone_numbers(query)\n    if len(nums) != 1:\n       \
          \ return\n    num = nums[0]\n    if \".\" not in num:\n        return\n\
          \    time_field = str(row.get(\"时间\", \"\"))\n    m = _TIME_FMT_RE.match(time_field)\n\
          \    if not m:\n        return\n    month, day = int(m.group(2)), int(m.group(3))\n\
          \    if not _num_matches_md(num, month, day):\n        return\n    corrected\
          \ = _format_record_date(time_str)\n    if corrected:\n        row[\"时间\"\
          ] = corrected\n    try:\n        row[\"金额\"] = float(num)\n    except (TypeError,\
          \ ValueError):\n        pass\n\n\ndef _parse(raw: str) -> list:\n    if\
          \ not raw or not str(raw).strip():\n        return []\n    s = str(raw).strip()\n\
          \    if s.startswith(\"```json\"):\n        s = s[7:]\n    elif s.startswith(\"\
          ```\"):\n        s = s[3:]\n    if s.endswith(\"```\"):\n        s = s[:-3]\n\
          \    s = s.strip().replace(\"：\", \":\").replace(\"，\", \",\")\n    try:\n\
          \        data = json.loads(s)\n        if isinstance(data, list):\n    \
          \        return data\n        if isinstance(data, dict):\n            return\
          \ [data]\n    except Exception:\n        pass\n    return []\n\n\ndef _norm(\n\
          \    item: dict,\n    classify_tree: Dict[str, Optional[List[str]]],\n \
          \   user_query: str,\n    valid_check: str,\n    check: str,\n    time_str:\
          \ str = \"\",\n) -> Optional[dict]:\n    if not isinstance(item, dict):\n\
          \        return None\n    row = {k: item.get(k, \"\") for k in _KEYS}\n\
          \    if \"账单二级分类\" not in item and item.get(\"二级分类\"):\n        row[\"账单二级分类\"\
          ] = item.get(\"二级分类\", \"\")\n\n    if not str(row.get(\"交易渠道\", \"\")).strip():\n\
          \        row[\"交易渠道\"] = \"无\"\n\n    row[\"交易渠道\"] = resolve_transaction_channel(\n\
          \        user_query, row.get(\"交易渠道\", \"\"), valid_check, check\n    )\n\
          \n    apply_classify_from_query(row, classify_tree, user_query)\n\n    row[\"\
          账单二级分类\"] = normalize_secondary_classify(\n        row.get(\"账单分类\", \"\"\
          ),\n        row.get(\"账单二级分类\", \"\"),\n        classify_tree,\n    )\n\n\
          \    try:\n        row[\"金额\"] = float(row[\"金额\"])\n    except (TypeError,\
          \ ValueError):\n        pass\n\n    fix_single_number_date_ambiguity(row,\
          \ user_query, time_str)\n    return row\n\n\ndef main(\n    llm_text: str,\n\
          \    user_query: str = \"\",\n    classify: str = \"\",\n    valid_check:\
          \ str = \"\",\n    check: str = \"\",\n    time: str = \"\",\n) -> dict:\n\
          \    classify_tree = _parse_classify_tree(classify)\n    raw_list = _parse(llm_text)\n\
          \    bills = [\n        b\n        for b in (\n            _norm(x, classify_tree,\
          \ user_query, valid_check, check, time)\n            for x in raw_list\n\
          \        )\n        if b\n    ]\n    text = json.dumps(bills, ensure_ascii=False)\n\
          \    return {\n        \"text\": text,\n        \"bill_count\": len(bills),\n\
          \        \"structured_output\": bills[0] if bills else {},\n    }\n"
        code_language: python3
        outputs:
          bill_count:
            children: null
            type: number
          structured_output:
            children: null
            type: object
          text:
            children: null
            type: string
        selected: false
        title: JSON后处理-备选
        type: code
        variables:
        - value_selector:
          - '17665425300920'
          - text
          value_type: string
          variable: llm_text
        - value_selector:
          - '1771913498969'
          - result
          value_type: string
          variable: user_query
        - value_selector:
          - '1762159084543'
          - classify
          value_type: string
          variable: classify
        - value_selector:
          - '1762159084543'
          - valid_check
          value_type: string
          variable: valid_check
        - value_selector:
          - '1762159084543'
          - check
          value_type: string
          variable: check
        - value_selector:
          - '1762159229951'
          - text
          value_type: string
          variable: time
      height: 51
      id: '1779205180002'
      position:
        x: 1418.139757124833
        y: 139.81748406649382
      positionAbsolute:
        x: 1418.139757124833
        y: 139.81748406649382
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -961.0680721633556
      y: 407.90700939017853
      zoom: 0.8908988186487976
  rag_pipeline_variables: []
